.SignUp {
    text-align: center;
    margin:100px;
    height:100%
}

.container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.item {
    margin-left:20%;
}

.item1 {
    margin-right:20%;
}

.item2{
    text-align: center;
}

.item2 i{
    color: darkblue;
}